// CSS keyframe animations
@keyframes scroll-top-hint {
    0% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0);
    }
}
