// Hero Content
.hero-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.primary-cta .icon {
    transition: transform $duration $easing;
}
.primary-cta:hover .icon {
    transform: rotate(90deg);
}
// Section title
.section {
    hr {
        @include center-x;
        height: 3px;
        margin-bottom: 0;
        width: 80px;
        background-color: $primary;
    }
}
// Profile picture
.profilePicture {
    @include center-x;
    height: 320px + $image-pading;
    width: 320px + $image-pading;
    img {
        padding: $image-pading;
        border-radius: 50%;
        border: $image-pading solid $primary;
    }
}
@include mobile {
    .profilePicture {
        height: 75vw;
        width: 75vw;
    }
}
// contact link
.contact-link {
    &:hover {
        button {
            transition: $duration/2 $easing;
            background-color: darken($white, 10%);
            border-color: darken($white, 10%);
            span {
                color: darken($primary, 5%) !important;
            }
        }
    }
}

//footer
.back-to-top:hover .icon {
    animation-duration: 0.4s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-name: scroll-top;
}
