// Navbar
nav:first-of-type {
    z-index: 10;
}
.menu-container {
    position: fixed;
    padding: 16px 0px 16px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 300;
    font-size: 24px !important;
    background-color: white;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
    .logo {
        height: 32px;
        width: 51px;
    }
    .devider {
        display: inline-block;
        border-left: 1.5px solid lighten($grey, 50%);
        height: 24px;
    }
    a.link-navbar {
        color: lighten($grey, 35%);
        &:hover {
            color: $grey;
        }
        &.active {
            text-shadow: 0 0 0.95px $grey, 0 0 0.95px $grey;
            color: $grey;
        }
    }
}
.menu-container.mobile {
    z-index: 5;
    height: 100vh;
    border-radius: 0;
    background-color: $primary;
    width: 100vw !important;
    padding: 25vh 0 25vh 0;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: $size-1 !important;
    top: -100vh;
    transition-duration: $duration;
    transition-timing-function: ease-out;
    a.link-navbar {
        display: block;
        opacity: 0;
        transition: opacity $duration * 4;
        color: lighten($white, 35%);
        &:hover {
            color: $white;
        }
    }
}
.is-open {
    transform: translateY(100vh);
    a.link-navbar {
        opacity: 1 !important;
    }
}
@include mobile {
    .menu-container {
        width: 70%;
    }
    .menu-container > .link-navbar {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .is-open {
        display: flex;
    }
}
@include tablet {
    .menu-container {
        width: 528px;
    }
    .menu-container > .link-navbar {
        display: block;
    }
    .hamburger {
        display: none !important;
    }
    .is-open {
        display: none;
    }
}
@include desktop {
    .menu-container {
        width: 560px;
    }
    .menu-container > .link-navbar {
        display: block;
    }
    .hamburger {
        display: none !important;
    }
    .is-open {
        display: none;
    }
}
// Hero Content
.hero-body {
    .primary-cta .icon {
        transition: transform $duration $easing;
    }
    .primary-cta:hover .icon {
        transform: rotate(90deg);
    }
}

// Section title
.section {
    hr {
        @include center-x;
        height: 3px;
        margin-bottom: 0;
        width: 80px;
        background-color: $primary;
    }
}
// Project section
.card-image {
    .image {
        img {
            object-fit: contain;
        }
    }
}
// Modal
.modal {
    display: flex;
    align-items: center;
    .modal-card {
        z-index: 100;
    }
    .modal-background {
        z-index: 50;
    }
    .modal-card-body {
        img {
            margin-bottom: 1em;
        }
        h1 {
            font-size: $size-3;
            font-weight: $weight-semibold;
            margin-bottom: 0.5em !important;
        }
        h2 {
            font-size: $size-4;
            font-weight: $weight-semibold;
            margin-bottom: 0.5em !important;
        }
        h3 {
            font-size: $size-5;
            font-weight: $weight-semibold;
            margin-bottom: 0.5em !important;
        }
        h4 {
            font-size: $size-6;
            font-weight: $weight-semibold;
            margin-bottom: 0.5em !important;
        }
        blockquote {
            border-left: 3px solid $link;
            padding-left: 1em;
            padding-right: 0.5em;
            background-color: lighten($color: $primary, $amount: 45%);
            margin-bottom: 0.5em !important;
        }
        strong {
            color: $grey !important;
        }
        p {
            margin-bottom: 1em;
        }
        li {
            margin-bottom: 0.25em;
        }
    }
}
@include mobile {
    .modal-card {
        max-height: 100vh;
    }
}
@include tablet {
    .modal-card {
        max-height: 80vh;
    }
}
// Profile picture
.profilePicture {
    @include center-x;
    height: 320px + $image-pading;
    width: 320px + $image-pading;
    border-radius: 50%;
    border: $image-pading solid $primary;
    img {
        padding: $image-pading;
        border-radius: inherit;
    }
}
@include mobile {
    .profilePicture {
        height: 75vw;
        width: 75vw;
    }
}
// Contact section
.container {
    .buttons {
        .contact-link {
            &:hover {
                button {
                    transition: $duration/2 $easing;
                    background-color: darken($white, 10%);
                    border-color: darken($white, 10%);
                    span {
                        color: darken($primary, 5%) !important;
                    }
                }
            }
        }
    }
}
.back-to-top:hover .icon {
    animation-duration: 0.4s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-name: scroll-top-hint;
}
