// global styles
body {
    background-color: $space-cadet;
}
header {
    display: flex !important;
    justify-content: center;
}
.is-xlarge {
    font-size: 1.75rem !important;
}
.is-round {
    border-radius: 50% !important;
}
