// global styles
body {
    background-color: $space-cadet;
    overflow: hidden !important;
}
header {
    display: flex !important;
    justify-content: center;
}
.is-xlarge {
    font-size: 1.75rem !important;
}
.is-round {
    border-radius: 50% !important;
}
.contact {
    min-height: 90vh;
}
.hamburger {
    line-height: 1;
    .hamburger-box {
        display: block;
    }
}
